:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
}

.white-bg {
    background-color: var(--white-color);
}

* {
    font-family: 'Poppins', sans-serif;
}

.required{
    color: #dc3545;
}

.cursor {
    cursor: pointer;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--light-color) !important;
}

/* sidebar */
#sidebar {
    background-color: var(--primary-color);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease;
    /* style="width: 250px; position: fixed;" */
}

#sidebar img {
    width: 100%;
    height: auto;
}

.sidebar-collapsed {
    margin-left: -250px;
    opacity: 0;
    transition: all 0.3s ease;
}

.main-content.expanded {
    margin-left: 0;
}


.main-content {
    margin-left: 250px;
    transition: margin 0.3s ease;
    position: relative;
}


footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    margin: 0;
}

footer p {
    padding: 0;
    margin: 0;
}

